.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: Arial;
  background: linear-gradient(
    261deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(29, 29, 177, 1) 12%,
    rgba(0, 212, 255, 1) 100%
  );
}

.row input,
.row #serviceQual {
  display: block;
  width: 300px;
  padding: 5px 10px;
  border-radius: 20px;
  height: 29px;
}

.row {
  margin: 0 20px 20px 20px;
}

.row label {
  margin-bottom: 5px;
}

#container {
  height: 70vh;
  width: fit-content;
  margin: 100px auto;
  background: #7c2a7c;
  border-radius: 30px;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
}

.title {
  background: black;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

button {
  text-transform: uppercase;
  display: block;
  background: #fb003f;
  color: white;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 30px;
  cursor: pointer;
  width: 50%;
  font-size: 1rem;
  border: 4px solid black;
}
button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

#totalTip {
  font-size: 20px;
  text-align: center;
  display: none;
}
